@font-face {
    font-family: 'SuperMario' ; /*a name to be used later*/
    src: url('ressources/font/SuperMario256.ttf') ; /*URL to font*/
    font-display: swap;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

:root {
  --gradient-lime: linear-gradient(to bottom left, #00abbc,#3fe049);
  --gradient-red: linear-gradient(223deg, #bc0000,#ae00ff);
  --gradient-darckred: linear-gradient(223deg, #490000,#3a0055);
  --gradient-darck: linear-gradient(223deg, #818181,#420060);
}

body {

    font-family: SuperMario;
    position: relative;

    margin: 0;
    width: 100%;
    min-height: 100%;
    
    background-color: rgba(128, 128, 128, 0.096);
    background-image: repeating-linear-gradient(45deg, transparent, transparent 15px, rgba(255, 255, 255, 0.192) 15px, rgba(255,255,255,.5) 31px);

    background-image: url("ressources/Background/FondSite.webp");

}

html {
    height: 100%;
    scroll-behavior: smooth;
}

/*            Card                 */
.list-group-item:hover {
  background-color: #61616100;
}

.list-group-item:hover .card-answer {
  transition: .1s ease-in;
  transform: scale(1.1);
}

.card{
  background-color: rgba(0, 0, 0, 0);
}

.card-body{
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255); 
  background-image: repeating-linear-gradient(45deg, transparent, transparent 15px, rgba(156, 153, 153, 0.212) 15px, rgba(156, 153, 153, 0.459) 31px);
  border-radius: 15px;
  border: 1px solid rgba(0, 0, 0, 0.15);
  box-shadow: 0px 15px 25px 0px rgba(255, 255, 255, 0.3);
  border-color: rgba(0, 0, 0, 0.5);
  border-bottom-width: 5px;
}

/*---------- Navigation bar ----------*/

.nav {
  margin-bottom: 10px; 
  background-color: rgb(80, 0, 0); 
  background-image: url(ressources/Background/pattern-logos-characters.webp), var(--gradient-darck);
}

.nav-item :hover{
  transition: all .1s ease-in ;
        transform: scale(1.2);
}

.nav-item :active {
  transition: all .1s ease-in;
  transform: scale(2);
  user-select: none;
}

/*---------- titles ----------*/

.title {

  position: relative;

  min-width: 400px;
  max-width: 50%;

  background-image: url(ressources/Background/pattern-logos-characters.webp), var(--gradient-darck); 
  border-radius: 15px;
  border: 1px solid rgba(255, 255, 255, 0.15);
  box-shadow: 0px 15px 25px 0px rgba(255, 255, 255, 0.3);
  border-color: rgba(255, 255, 255, 0.5);
  border-bottom-width: 5px;
  text-align: center;

  color: white;

  left: 50%;
  transform: translate(-50%, -50%);

  margin-top: 5%;
  margin-bottom: 5%;

}

/*------------------ Mobile vesion ---------------*/
@media screen and (orientation: portrait) {
    .text{
        font-size: 10px;
    }

    .contact{
        font-size: 10px;
    }
}