@font-face {
    font-family: 'SuperMario'; /*a name to be used later*/
    src: url('ressources/font/SuperMario256.ttf'); /*URL to font*/
}

body {
    font-family: SuperMario;
    background-image: url("ressources/Background/FondSite.webp");
    background-repeat: no-repeat;
    background-size: 100%, 100%;
}

.personnages-titre{
    color: rgb(255, 255, 255);
    text-align: center;    
}

.titre-bord{
    color: #022e52;
    writing-mode: vertical-lr;
    text-orientation: upright;
    font-size: 30px;
    text-align: center;
}
.AllignPerso{
    display: flex;
    justify-content:space-evenly;
    background-color: silver;
    background-image: linear-gradient(335deg, rgb(47, 117, 207) 23px, transparent 23px),
    linear-gradient(155deg, rgb(47, 117, 207) 23px, transparent 23px),
    linear-gradient(335deg, rgb(47, 117, 207) 23px, transparent 23px),
    linear-gradient(155deg, rgb(47, 117, 207) 23px, transparent 23px);
    background-size: 58px 58px;
    background-position: 0px 2px, 4px 35px, 29px 31px, 34px 6px;
}
.Personnages { 
    display: inline-block; 
}

.CarreRond{
    max-width:150px;
    max-height: 150px; 
    border-radius: 10px;
    width: 150px;
    height: 150px;
    object-fit: contain;
    border: 2px solid #000000; 
    padding: 5px;
    background-color: rgba(128, 128, 128, 0.096);
    background-image: repeating-linear-gradient(45deg, transparent, transparent 15px, rgb(255, 255, 255) 15px, rgb(255, 255, 255) 31px); 
}
.CarreRond img{
    width: 100px;
}
.CarreRond .verso {
    display: none;
}

.CarreRond:hover{
    transition: all .2s ease-in;
    transform: translateY(20px) scale(1.2);
    background-image: repeating-linear-gradient(45deg, rgb(255, 255, 255), rgb(255, 255, 255) 15px, rgb(255, 0, 0) 15px, rgb(255, 0, 0) 31px); 

}

.CarreRond:hover img{
    transition: all .2s ease-in;
    transform: translateY(-60px) scale(1.1);
}

.CarreRond:hover .recto{
    display: none;
}

.CarreRond:hover .verso{
    display: block;
}



.FondHero{
   width: auto;
}

footer {
    position: fixed;  
    left: 8px;  
    bottom: 5px;  
    right: 10px;   
    width: 99%;  
    background-color: red;  
    color: white;  
    text-align: center;  
}

