@font-face {
    font-family: 'SuperMario'; /*a name to be used later*/
    src: url('ressources/font/SuperMario256.ttf'); /*URL to font*/
}

body {
    font-family: SuperMario;
}

.personnages-titre{
    color: rgb(0, 0, 0);
    text-align: center;    
}

.titre-bord{
    color: #022e52;
    writing-mode: vertical-lr;
    text-orientation: upright;
    font-size: 30px;
    text-align: center;
}
.AllignPerso{
    display: flex;
    justify-content:space-evenly;
    color: blue;
    background-color:rgba(34, 131, 196, 0.568);
}
.Personnages { 
    display: inline-block; 
}

.CarreRond{
    max-width:150px;
    max-height: 150px; 
    border-radius: 10px;
    border: 2px solid #000000; 
    padding: 5px;
    background-color: rgba(128, 128, 128, 0.096);
    background-image: repeating-linear-gradient(45deg, transparent, transparent 15px, rgb(255, 255, 255) 15px, rgb(255, 255, 255) 31px); 
}

.CarreRond:hover{
    transition: all .1s ease-in;
    transform: scale(1.2);
    background-image: repeating-linear-gradient(45deg, white, white 15px, rgb(255, 0, 0) 15px, rgb(255, 0, 0) 31px); 
}

.FondHero{
    border: 2px;
    width: 100px;
    background-color: green;
}

footer {
    position: fixed;  
    left: 8px;  
    bottom: 5px;  
    right: 10px;   
    width: 99%;  
    background-color: red;  
    color: white;  
    text-align: center;  
}

