@font-face {
    font-family: 'SuperMario'; /*a name to be used later*/
    src: url('ressources/font/SuperMario256.ttf'); /*URL to font*/
}

body {
    font-family: SuperMario;
}

.PERSONNAGES{
    color: rgb(0, 0, 0);
    text-align: center;    
}

.Personnage { 
    display: inline-block; 
    width: 150;
}

.CarreRond{
    margin-left: 175px;
    max-width:150px;
    max-height: 150px; 
    border-radius: 10px;
    border: 2px solid #000000;  
}

.FondHero{
    border: 2px;
    width: 100px;
    background-color: green;
}

footer {
    position: fixed;  
    left: 8px;  
    bottom: 5px;  
    right: 10px;   
    width: 99%;  
    background-color: red;  
    color: white;  
    text-align: center;  
}

