body {
    color: aqua;
}
h1 {
    color: aliceblue;
}

nav {
    position: fixed;
    width: 150;
    top: 5%;
    right: 10px;
    width: 95%;
    background-image: url(ressources/Background/Tuyo.png);
    transform: rotate(90dg);
}

nav ul {
    color: #000;
    display: inline-block;
}

nav li {
    color: #000;
    display: inline-block;
}

footer {
    position: fixed;  
    left: 10px;  
    bottom: 5px;  
    right: 10px;   
    width: 95%;  
    background-color: gray;  
    color: white;  
    text-align: center;  
}